<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
	<head>
		<link rel="shortcut icon" href="{% static 'predict/images/cardiogram.png' %}" type="image/x-icon">
		<title>Reset Password</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'predict/assets/css/main.css' %}" />
	</head>
</head>
<body>
  <br>
  <br>
  
  <header id="header">
  <form method="post">
    {% csrf_token %}
   
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="password1">New Password:</label>
    <input type="password" id="password1" name="password1" required>
    <label for="password2">Retype Password:</label>
    <input type="password" id="password2" name="password2" required>
    
    <div class="container">
      {{ error }}
        <div class="3u 6u$(small) 12u$(xsmall)">
          <ul class="actions vertical small">
            <li><button type="submit" class="button special small">RESET PASSWORD</button></li>
          </ul>
        </div>
    </div>
      



      <nav id="nav">
        <ul>
          {% if user.is_authenticated %}

          {% else %}
            <li><a href="{% url 'signupuser' %}">SignUp</a></li>
            <li><a href="{% url 'loginuser' %}">Login</a></li>
            <li><a href="{% url 'forgot_password' %}">Forgot Password</a></li>
          {% endif %}
          <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
      </nav>
      </header>
      <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>
  <!-- Main -->
  <section id="main" class="wrapper">

    

<!-- Scripts -->
  <script src="{% static 'predict/assets/js/jquery.min.js' %}"></script>
  <script src="{% static 'predict/assets/js/skel.min.js' %}"></script>
  <script src="{% static 'predict/assets/js/util.js' %}"></script>
  <script src="{% static 'predict/assets/js/main.js' %}"></script>

</body>
</html>